body{
    background-color:#FFF8E7;
    color: black;
      font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
 font-size: 20px;

}
.btn-primary{
background-color:#A0522D;
}
.btn-primary:hover {
  background-color: #8B4513; 
}

.card
{
  height: 450px;
}

.card img {
  height: 250px;
  object-fit:cover;
  margin: auto;
}
